body{
    /*background-color: #efefef;*/
   }

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}
.table th, .table td {
    vertical-align: middle;
}
input {
    vertical-align: middle;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#boardSelect {
    width: auto;
}

#sprintSelect {
    width: 100%;
}