<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <title>Main Page</title>
  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
</head>
<body ng-app="sprint">
<!--<hr/>-->
<div class="container">
    <div class="width300">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{active: sprintActive}"><a href="#">Sprint</a></li>
            <li role="presentation" ng-class="{active: boardActive}"><a href="#">All boards</a></li>
        </ul>
        <alert ng-repeat="message in messages" type="" close="closeAlert($index)">  </alert>
    </div>
    <hr/>
    <div ng-include="'sprint'"></div>

    <!--<div class="row">
    <label>Sprint</label>
    <input type="text" ng-model="sprintID" class="input-sm spacing"  placeholder="sprintID" />
    <button ng-click="getReport()" class="btn btn-sm btn-info">Run Report</button>
  </div>-->
  <!--<hr/>
  <div class="row">
    <p>{{ report | json}}</p>
  </div>-->
 <!-- <hr/>-->
    <!--<div class="row" ng-repeat="(k, v) in report">
    <div class="">
      <h3>{{k}}</h3>
      <span  ng-if="k!='statusTime'" class="badge badge-secondary">{{v}}</span>
    </div>
    <div class="row" ng-if="k==='statusTime'" ng-repeat="(kk, vv) in v">
      <h4>{{kk}}</h4>
      <span  class="badge badge-secondary">{{vv}}</span>
    </div>
  </div>-->
</div>
</body>
<script src="js/lib/angular.js"></script>
<script src="js/lib/ui-bootstrap-tpls.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/SprintControllers.js"></script>
<script src="js/app/SprintService.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/lib/bootstrap.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>