<div class="container" ng-controller="SprintRestController">
    <div class="row" ng-init="getBoards()">
        <div class="form-group form-group-sm">
            <form ng-submit="runSingleReport()">
                <div class="col-xs-4" ng-show="sprints && sprints.length > 0">
                    <select name="sprintSelect" id="sprintSelect"
                            ng-model="selectedSprint" ng-options="s as s for s in sprints">
                    </select>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-primary" type="submit" ng-click="runSingleReport()" ng-disabled="reportLoading || !selectedSprint">Run single report</button>
                </div>
                <div class="col-xs-2" ng-if="reportLoading">
                    <div class="loader"></div>Loading report...
                </div>
                <div class="col-xs-2" ng-if="errorMessage" style="color: red">
                    {{errorMessage}}
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="col-xs-12" ng-if="report">
            <h2>Generated Report</h2>
            <p>Report for sprint</p>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="(key, value) in report">{{key}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in fieldKeys track by $index" ng-if="$index > 0">
                    <td ng-if="key != 'averageTimeInColumn' && key != 'backFromColumn'">{{value}} <span title="{{getFieldDescription(key)}}" class="fa fa-question-circle"></span></td>
                    <td ng-if="key != 'averageTimeInColumn' && key != 'backFromColumn'" ng-repeat="boardName in boardNames">
                        <div ng-if="!isArray(report[boardName][key]['value'])" title="{{getNumberDescription(key, $index)}}">{{report[boardName][key]['value'] | number : 2}}</div>
                        <div ng-if="isArray(report[boardName][key]['value'])" title="{{getNumberDescription(key, $index)}}">
                            <div>
                                <span><a ng-href="{{getLink(report[boardName][key]['value'])}}">{{(report[boardName][key]['value']).length}}</a></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="avgTimeField in avgTimeFields[0] track by $index">
                    <td>{{avgTimeField.fieldName}} <span title="{{avgTimeField.fieldDescription}}" class="fa fa-question-circle"></span></td>
                    <td ng-repeat="fd in avgTimeFields">{{fd[$parent.$index].value}}</td>
                </tr>
                <tr ng-repeat="backFromColumnField in backFromColumnFields[0] track by $index">
                    <td>{{backFromColumnField.fieldName}} <span title="{{backFromColumnField.fieldDescription}}" class="fa fa-question-circle"></span></td>
                    <td ng-repeat="fd in backFromColumnFields">{{fd[$parent.$index].value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>